/*本文件只适用于openBBS主页面显示布局*/
/*by Allen Lee*/
/*since 20170927*/
body {
	padding: 0px;
	margin: 0px;
}
#topDisplay {
	background-image: url('http://upload-images.jianshu.io/upload_images/4650021-4d1bd0f881a59f40.jpg');
	background-size: 100% 350px;
	height: 350px;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}
/*头像区域*/
#headView {
	position: relative;
	background-image: url('http://upload-images.jianshu.io/upload_images/4650021-373ed8976cf3172d.jpg');
	background-size: 120px 120px;
	top: 80px;
	left: 10%;
	width: 120px;
	height: 120px;
	border-radius: 65px;
	background-color: #fff;
	border: 5px solid #bbb;
	cursor: pointer;
}
/*个人信息*/
#personInfo {
	position: relative;
	display: inline;
	top: 100px;
	left: 11.5%;
	width: auto;
	border-width: 0px;
	font-size: 1.3em;
	cursor: pointer;
	color: white;
}
/*个人信息区域*/
#personInfoArea {
	position: relative;
	top: 85px;
	left: 10.7%;
	width: 110px;
	/*height: 210px;*/
	background-color: gray;
	border-radius: 4px;
	/*opacity: .7;*/
	/*此种设置透明方法可实现子元素不透明*/
	background-color: rgba(220, 220, 220, 0.5);
	list-style-type: none;
	padding: 0px;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	justify-content: space-around;
}
#personInfoArea li {
	height: 30px;
	cursor: pointer;
	color: white;
	width: 100%;
	text-align: center;
	line-height: 30px;
	border-radius: 1px;
}
#personInfoArea li:hover {
	/*background-color: rgba(41, 36, 33, 0.3);
	color: orange;*/
	/*box-shadow: -2px -2px 5px #999 inset;*/
	-webkit-animation-name: slideView;
	/*-webkit-animation-iteration-count: infinite;*/
	-webkit-animation-duration: 0.3s;
	-webkit-animation-delay: ease;
	/*保存动画的最后一桢*/
	-webkit-animation-fill-mode: forwards;
}
/*设置鼠标到达每一个li上部时的动画*/
@-webkit-keyframes slideView {
	5% {
		background-color: rgba(80, 80, 80, 0.5);
		color: #FFFFE0;
	}
	25% {
		background-color: rgba(70, 70, 70, 0.6);
		color: #FFEC8B;
	}
	50% {
		background-color: rgba(60, 60, 60, 0.7);
		color: #FFD700;
	}
	75% {
		background-color: rgba(50, 45, 45, 0.8);
		color: #FFC125;
	}
	100% {
		background-color: rgba(41, 36, 33, 0.8);
		color: orange;
	}
}
#topFloat {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	z-index: 100;
}
#floatHeadView {
	position: relative;
	background-image: url('http://upload-images.jianshu.io/upload_images/4650021-373ed8976cf3172d.jpg');
	background-size: 80px 80px;
	top: 8px;
	left: 10%;
	width: 80px;
	height: 80px;
	border-radius: 43px;
	background-color: #fff;
	border: 3px solid #bbb;
	cursor: pointer;
	float: left;
}
#floatPersonInfo {
	position: relative;
	display: inline;
	top: 33px;
	left: 11.5%;
	width: auto;
	border-width: 0px;
	font-size: 1.3em;
	cursor: pointer;
	color: gray;
	float: left;
}
#floatPersonInfoArea {
	position: relative;
	top: 50px;
	left: 4.5%;
	width: 110px;
	/*height: 210px;*/
	background-color: gray;
	border-radius: 4px;
	/*opacity: .7;*/
	/*此种设置透明方法可实现子元素不透明*/
	background-color: rgba(110, 110, 110, 0.5);
	list-style-type: none;
	padding: 0px;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	justify-content: space-around;
}
#floatPersonInfoArea li {
	height: 30px;
	cursor: pointer;
	color: white;
	width: 100%;
	text-align: center;
	line-height: 30px;
	border-radius: 1px;
}
#floatPersonInfoArea li:hover {
	/*background-color: rgba(41, 36, 33, 0.3);
	color: orange;*/
	/*box-shadow: -2px -2px 5px #999 inset;*/
	-webkit-animation-name: slideView;
	/*-webkit-animation-iteration-count: infinite;*/
	-webkit-animation-duration: 0.3s;
	-webkit-animation-delay: ease;
	/*保存动画的最后一桢*/
	-webkit-animation-fill-mode: forwards;
}
/*中部区域*/
#midArea {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*中部显示区域 模块*/
.mainInfo {
	/*background-color: #*/
	width: 50%;
	/*height: 200px;*/
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #ccc;
	border-width: 1px;
}
.mainInfo:hover {
	box-shadow: 3px 3px 15px #ccc;
}
/*中部显示信息标题*/
.mainInfoTitle {
	padding: 5px;
	font-size: 2em;
	border-left: 10px solid red;
	border-top-left-radius: 5px;
}
/*中部显示信息内容*/
.mainInfoContent {
	padding: 15px;
	font-size: 1em;
}
/*页面底端版权信息区域*/
#copyArea {
	width: 100%;
	height: 200px;
	background-color: #292421;
	box-shadow: 0px 5px 20px #141414 inset;
	color: orange;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}